<div class="container">
    <h1>Thêm truyện mới</h1>
    <form id="myForm" method="post" action="addComic" >
        {{!-- name --}}
        <div class="form-group">
            <label for="name">Tên truyện:</label>
            <input type="text" class="form-control my-2" id="name" name="name" required>
        </div>

        {{!-- description --}}
        <div class="form-group">
            <label for="description">Mô tả:</label>
            <input type="text" class="form-control my-2" id="description" name="description">
        </div>
        {{!-- author --}}
        <div class="form-group">
            <label for="author">Tác giả:</label>
            <input type="text" class="form-control my-2" id="author" name="author">
        </div>
        {{!-- publicationYear --}}
        <div class="form-group">
            <label for="publicationYear">Năm xuất bản:</label>
            <input type="Number" class="form-control my-2" id="publicationYear" name="publicationYear">
        </div>

        {{!-- coverImage --}}
        <div class="form-group">
            <label for="coverImage" class="mb-2">Ảnh bìa:</label>
            <input type="text" class="form-control my-2" id="coverImage" name="coverImage">
        </div>
        {{!-- images --}}
        <div class="form-group">
            
            <label for="image" class="mb-2">Ảnh truyện:</label>
            <input type="text" class="form-control my-2" id="image" name="image">
        </div>




        <button type="submit" class="btn btn-primary my-2">Thêm</button>
    </form>
</div>

{{!-- <script>
    //hiển thị hình ảnh đã chọn
    function previewImage(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var image = document.getElementById("preview-image");
                image.src = e.target.result;
                image.style.display = "block";
            };
            reader.readAsDataURL(input.files[0]);
        }
    }




</script> --}}